body {
  margin: 0;
  padding: 0;
  background-color: rgb(116, 112, 112);
  background-size:cover;
  background-position:bottom;
  background-image: url("sea.jpg");
  /* transform:translate(-20%,-20%); */

  /* text-shadow: 2px; */
}
.loginbox {
  width: 400px;
  height: 350px;
  background: white;
  color: black;
  top: 25%;
  left: 35%;
  position: absolute;
  box-sizing: border-box;
  border-radius: 50px;

}
.loginbox h1 {
  /* width: 100%; */
  margin: 0px;
  /* border-bottom: 1px solid black; */
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 30%;
  /* text-align: 15%; */
  /* line-height: 0.1em; */

}

.loginbox h4{
    margin:10px;
    padding:20px;
    margin-left: 15%;
    font-style: italic;
}
.loginbox input {
  margin-left: 50px;
}
.loginbox input[type="password"],
input[type="email"],
button[type="submit"] {
  box-sizing: border-box;
  padding-left: 5px;
  width: 300px;
  height: 25px;
  box-sizing: content-box;
  font-style: italic;
}
.loginbox select {
  margin-left: 50px;
  font-style: italic;
}
.loginbox button[type="submit"] {
  background: green;
  color: white;
  font-weight: 40px;
  font-size:20px;
  margin-left: 50px;
}
.loginbox p a{

}
.loginbox a {
  margin: 0px;
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  /* margin-left: 50px;     */
}
